
body 
{
  color: white;
  background-color: gray;
  background-image: url(Images/Background1.jpg),
                    url(Images/Background2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
  background-attachment: fixed, fixed;
  background-size: 50% 100%, 50% 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Homepage*/
.DanceClass
{
  background-color: gray; 
  background-image: url(Images/DanceClassOption.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.Event
{
  background-color: gray; 
  background-image: url(Images/EventOption.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.AboutUs
{
  background-color: black;
  width: 300px;
  padding: 50px;
  margin: 50px;
}

.Moto
{
  background-color: rgb(83, 83, 83);
  width: 400px;
  padding: 40px;
  margin: 50px;
}

.content 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  width: 500px;
}

.content > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

/*Dance Classes*/
.DanceClass1
{
  background-color: gray; 
  background-image: url(Images/DanceClass1.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.DanceClass2
{
  background-color: gray; 
  background-image: url(Images/DanceClass2.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.DanceClass3
{
  background-color: gray; 
  background-image: url(Images/DanceClass3.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.DanceClass4
{
  background-color: gray; 
  background-image: url(Images/DanceClass4.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.DanceClass5
{
  background-color: gray; 
  background-image: url(Images/DanceClass5.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.DanceClass6
{
  background-color: gray; 
  background-image: url(Images/DanceClass6.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.DanceClass7
{
  background-color: gray; 
  background-image: url(Images/DanceClass7.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.DanceClass8
{
  background-color: gray; 
  background-image: url(Images/DanceClass8.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.DanceClass9
{
  background-color: gray; 
  background-image: url(Images/DanceClass9.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  height: 100px;
  width: 100px;
  padding: 30px;
  margin: 10px;
}

.memberForm 
{
  background-color: darkred;
  width: 400px;
  padding: 30px;
  margin: 10px;
}

.schedule 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  width: 700px;
}

.schedule > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

.confirmation 
{
  display: none;
  background-color: gray;
  width: 500px;
}

/*Booking*/
.PurchaseInput 
{
  background-color: gray;
  width: 500px;
}

.PurchaseForm 
{
  display: flex;
  flex-direction: column;
  background-color: darkred;
  height: 290px;
  width: 700px;
}

.Chosen 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  width: 700px;
}

.Chosen > p 
{
  background-color: gray;
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

.popupPurchase 
{
  display: none;
  background-color: gray;
  width: 500px;
  font-size: larger;
}

/*Events*/
.photo23-1
{
  background-color: gray; 
  background-image: url(Images/Event2023-01.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100px;
  width: 150px;
  padding: 30px;
  margin: 10px;
}

.photo23-2
{
  background-color: gray; 
  background-image: url(Images/Event2023-02.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100px;
  width: 150px;
  padding: 30px;
  margin: 10px;
}

.photo23-3
{
  background-color: gray; 
  background-image: url(Images/Event2023-03.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100px;
  width: 150px;
  padding: 30px;
  margin: 10px;
}

.photo17-1
{
  background-color: gray; 
  background-image: url(Images/Event2017-01.png);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100px;
  width: 150px;
  padding: 30px;
  margin: 10px;
}

.photo17-2
{
  background-color: gray; 
  background-image: url(Images/Event2017-02.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100px;
  width: 150px;
  padding: 30px;
  margin: 10px;
}

.photo17-3
{
  background-color: gray; 
  background-image: url(Images/Event2017-03.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
  height: 100px;
  width: 150px;
  padding: 30px;
  margin: 10px;
}

.year23 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  width: 800px;
}

.year23 > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

.year17 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  width: 800px;
}

.year17 > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

/*OurSpace*/
.Instructor1
{
  background-color: gray; 
  background-image: url(Images/Instructor1.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
}

.Instructor2
{
  background-color: gray; 
  background-image: url(Images/Instructor2.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
}

.Instructor3
{
  background-color: gray; 
  background-image: url(Images/Instructor3.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
}

.Instructor4
{
  background-color: gray; 
  background-image: url(Images/Instructor4.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
}

.Instructor5
{
  background-color: gray; 
  background-image: url(Images/Instructor5.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
}

.Instructor6
{
  background-color: gray; 
  background-image: url(Images/Instructor6.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
}

.Instructor7
{
  background-color: gray; 
  background-image: url(Images/Instructor7.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
}

.Instructor8
{
  background-color: gray; 
  background-image: url(Images/Instructor8.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
}

.Instructor9
{
  background-color: gray; 
  background-image: url(Images/Instructor9.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  height: 120px;
  width: 120px;
  padding: 30px;
  margin: 10px;
}

.ourSpace
{
  background-color: black;
  width: 300px;
  padding: 50px;
  margin: 50px;
}

.Instructors 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkred;
  width: 800px;
}

.Instructors > p 
{
  background-color: gray;
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

.top-row,
.middle-row,
.bottom-row 
{
  justify-content: center;
  flex-direction: row;
  display: flex;
}

/*All HTML*/
.navbar 
{
  display: flex;
  justify-content: center;
  background-color: black;
}

.navbar > p 
{
  background-color: darkred;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}

.footer 
{
    position:relative;
    left:0;
    bottom:0;
    width:100%;
    height: 120px;
    background-color: black;
    text-align: center;
}

/*Mobile View*/
@media (max-width: 768px) 
{
  body
  {
    font-size: large;
    background-image: url(Images/Background2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    width:auto
  }

  /*Homepage*/
  .content 
  {
    flex-direction: column;
    width: 80%; 
    align-items: center;
  }

  .DanceClass,
  .Event,
  .AboutUs,
  .Moto 
  {
    width: 50%;
  }
  
  /*Dance Classes*/
  .confirmation 
  {
    width:80%;
  }

  .schedule 
  {
    flex-direction: column;
    width: 80%; 
    align-items: center;
  }

  .DanceClass1,
  .DanceClass2,
  .DanceClass3,
  .DanceClass4,
  .DanceClass5,
  .DanceClass6,
  .DanceClass7,
  .DanceClass8,
  .DanceClass9
  {
    background-position: center top;
  }
  .DanceClass9
  {
    background-size: 80%;
    background-position: center;
  }
  
  /*Booking*/
  .PurchaseForm,
  .PurchaseInput
  {
    flex-direction: column;
    width: 80%; 
    align-items: center;
  }

  .PurchaseForm
  {
    height: 500px;
  }

  .popupPurchase
  {
    width: 80%;
  }

  .Chosen
  {
    background-position: center top;
    width: 80%;
  }

  /*Events*/
  .year23,
  .year17 
  {
    flex-direction: column;
    width: 80%; 
    align-items: center;
  }
  .photo23-1,
  .photo23-2,
  .photo23-3,
  .photo17-1,
  .photo17-2,
  .photo17-3
  {
    width:50%;
  }

  /*OurSpace*/
  .Instructors 
  {
    flex-direction: column;
    width: 80%; 
    align-items: center;
  }

  .top-row,
  .middle-row,
  .bottom-row 
  {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  .Instructor1,
  .Instructor2,
  .Instructor3,
  .Instructor4,
  .Instructor5,
  .Instructor6,
  .Instructor7,
  .Instructor8,
  .Instructor9
  {
    background-position: center top;
  }
  .ourSpace
  {
    width:50%;
  }
}